.footer{
    position: fixed;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    font-size: .9em;
    font-weight: 400;
}

.footer a{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 1.2em;
}